*{
	margin: 0;
	padding: 0;
}
html{
	font-size: 62.5%;
}
a{
	text-decoration: none;
}
ul li{
	list-style: none;
}

.main960{
	/* max-width: 790px; */
	max-width: 960px;
	height: auto;
	margin: 0 auto;
}