
/* ----------    Checkout-760    ------------ */
@media screen and (min-width: 760px ) and (max-width: 1559px ){
	.contentCheckout{
		&__Cart{
			display: none;
		}
		&__Checkout{
			flex-direction: column-reverse;
			& .Checkout_patialCheckout{
				margin-right: 0;
				&__register{
					& .CheckoutMore{
						display: none;
					}
					& .CheckoutMore320_bill{
						display: none;
					}
					& .CheckoutMore760_bill{
						display: block;
						border: 1px solid #aaa;
						margin-bottom: 10px;
						& h1{
							text-transform: uppercase;
							font-size: 2rem;
							padding: 15px 0 15px 15px;
							border-bottom: 1px solid #aaa;
							font-family: 'Playfair Display', serif;
						}
						& h1::after{
							content: "*Required";
							float: right;
							font-size: 1.1rem;
							font-family: 'Nunito', sans-serif;
							padding-right: 10px;
							padding-top: 8px;
						}
						&__register{
							display: flex;
							padding: 38px 15px 30px 15px;
							text-transform: uppercase;
							& > div{
								flex: 1;
							}
							& .form-group{
								margin-bottom: 20px;
								& label{
									font-size: 1.3rem;
									font-family: 'Nunito', sans-serif;
									font-weight: bold;
								}
								& input{
									width: 80%;
									height: 35px;
									border: 1px solid #aaa;
								}
								& select{
									width: 80%;
									height: 37px;
									border: 1px solid #aaa;
								}
							}
							& .form-group-radio760{
								padding-top: 20px;
								& input{
								    margin-bottom: 15px;
								}
							}
							& .form-group-radio760, & .form-group-checkbox760{
								font-size: 1.3rem;
								font-family: 'Nunito', sans-serif;
								margin-bottom: 25px;
								& input{
									margin-right: 5px;
								}
							}
							& button{
								width: 50%;
								padding: 10px 0;
								text-transform: uppercase;
								color: white;
								background: black;
								font-size: 1.3rem;
								font-family: 'Nunito', sans-serif;
							}
						}
					}
					& .CheckoutMore320_ShippingInfo{
						display: block;
						border: 1px solid #aaa;
						margin-bottom: 10px;
						background: #f7f7f7;
						& h1{
							text-transform: uppercase;
							font-size: 2rem;
							padding: 15px 0 15px 15px;
							border-bottom: 1px solid #aaa;
							font-family: 'Playfair Display', serif;
						}
					}
					& .CheckoutMore320_ShippingMethod{
						display: block;
						border: 1px solid #aaa;
						margin-bottom: 10px;
						& h1{
							text-transform: uppercase;
							font-size: 2rem;
							padding: 15px 0 15px 15px;
							border-bottom: 1px solid #aaa;
							font-family: 'Playfair Display', serif;
						}
						&__text{
							padding: 30px 15px;
							text-transform: uppercase;
							font-size: 1.3rem;
							font-family: 'Nunito', sans-serif;
							& .form-group-radio320{
								& input{
								    margin-bottom: 15px;
								}
							}
						}
						& button{
							width: 25%;
							padding: 10px 0;
							margin-top: 30px;
							text-transform: uppercase;
							color: white;
							background: black;
							font-size: 1.3rem;
							font-family: 'Nunito', sans-serif;
						}
					}
					& .CheckoutMore320_payment{
						display: block;
						border: 1px solid #aaa;
						margin-bottom: 10px;
						& h1{
							text-transform: uppercase;
							font-size: 2rem;
							padding: 15px 0 15px 15px;
							border-bottom: 1px solid #aaa;
							font-family: 'Playfair Display', serif;
						}
						& h1::after{
							content: "*Required";
							float: right;
							font-size: 1.1rem;
							font-family: 'Nunito', sans-serif;
							padding-right: 10px;
							padding-top: 8px;
						}
						&__text{
							padding: 38px 15px 30px 15px;
							text-transform: uppercase;
							width: 50%;
							& ul{
								margin-bottom: 30px;
							}
							& ul li{
								display: inline-block;
								padding-right: 5px;
							}
							& button{
								width: 50%;
								padding: 10px 0;
								margin-top: 30px;
								text-transform: uppercase;
								color: white;
								background: black;
								font-size: 1.3rem;
								font-family: 'Nunito', sans-serif;
							}
							& .form-group-Checkout{
								display: flex;
								& div{
									flex: 1;
								}
								& > div:nth-of-type(1){
									flex: 2;
								}
								&__select{
									padding-right: 10px;
									& label{
										font-size: 1.3rem;
										font-family: 'Nunito', sans-serif;
										font-weight: bold;
									}
									&__item{
										display: flex;
										& div{
											flex: 1;
											padding: 0 3px;
										}
										& select{
											width: 100%;
											height: 37px;
											border: 1px solid #aaa;
										}
									}

								}
							}
						}
					}
					& .CheckoutMore320_OrderReview{
						display: block;
						border: 1px solid #aaa;
						margin-bottom: 10px;

						& h1{
							text-transform: uppercase;
							font-size: 2rem;
							padding: 15px 0 15px 15px;
							border-bottom: 1px solid #aaa;
							font-family: 'Playfair Display', serif;
						}
						&__text{
							width: 50%;
							padding: 27px 15px 20px 15px;
							font-size: 1.3rem;
							font-family: 'Nunito', sans-serif;
							text-transform: uppercase;
							& button{
								width: 50%;
								padding: 10px 0;
								margin-top: 10px;
								text-transform: uppercase;
								color: white;
								background: black;
								font-size: 1.3rem;
								font-family: 'Nunito', sans-serif;
							}
							& p{
								padding-bottom: 10px;
							}
						}
					}

				}
			}
			& .Checkout_patialCard{
				padding-bottom: 40px;
				margin-bottom: 10px;
				&__titleDES{
					display: none;
				}
				&__title320{
					display: flex;
					border-bottom: 1px solid #aaa;
					padding: 18px 0;
					& div{
						flex: 1;
					}
					& > div:nth-of-type(2){
						display: flex;
						justify-content: flex-end;
					}
					& h1{
						text-transform: uppercase;
						font-size: 2.4rem;
						padding-left: 15px;
						
						font-family: 'Playfair Display', serif;
					}
					& button{
						padding: 10px;
						margin-right: 10px;		
						background: transparent;
						border: 1px solid #aaa;		
						font-size: 2rem;
						color: #aaa;	
					}
				}
			}
		}
	}
}